/* body  */
body {
    font-family: Arial, Helvetica, sans-serif;
}

/* common  */

.container_80 {
    max-width: 1200px;
    width: 80%;
    margin: auto;
}
    
.button_style {
    display: inline-block;
    border-radius: 30px;
    color: white;
    padding: -5px 20px;
}

.button_style.button_black {
    background-color: #363636;
}
.button_style.button_red {
    background-color: #CD3D10;
}
.button_style.button_blue {
    background-color: #2D64E6;
}
.button_style.button_grey {
    background-color: #D9DADC;
    color: #3167E6;
    margin-bottom: 20px;
}

.button_style.button_lightgrey {
    background-color: #F5F5F5;
    color: black;
    margin-bottom: 20px;
}

.button_style.button_red:hover,
.button_style.button_blue:hover {
    color: white;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px, rgb(205, 61, 16) 0px 0px 0px 6px;
}

.button_style.button_black:hover, 
.button_style.button_blue:hover {
    color: white;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 3px, rgb(45, 100, 230) 0px 0px 0px 6px;
}

.button_style.button_grey:hover,
.button_style.button_lightgrey:hover {
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(217, 218, 220) 0px 0px 0px 6px;
}

.box_descrizione_white {
    color: white;
}
.box_descrizione_black {
    color: black;
    margin-bottom: 50px;
}

.descrizione_img {
    width: 200px;
}

.descrizione_img img {
    width: 100%;
}

.descrizione_testo {
    margin: 30px 0;
}

.colore_azzurro {
    color: #338AD6;
    font-weight: 600;
}

.colore_bianco {
    color: white;
}

.sezione_img {
    max-width: 350px;
}
.sezione_img img {
    width: 100%;
    margin-top: 20px;
}

/* header  */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.header_top {
    display: flex;
    justify-content: flex-end;
}
header section {
    background-color: black;
    padding: 10px;
}

.scritta_logo {
    width: 100px;
    display: inline-block;
}    

header nav .row .col-6 {
    display: flex;
}

header nav li {
    display: flex;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.angle_down_grey {
    width: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.angle_down_grey img {
    width: 100%;
}

header form a:last-child img{
    width: 50%;
    
}

/* main  */

main {
    padding-top: 110px;
}

/* hero  */
.hero_top {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
    padding: 200px 0 50px 0;
}

.hero_item {
    padding-top: 30px;
    padding-right: 10px;
}

.hero_item:hover img {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px, rgb(85, 91, 255) 0px 0px 0px 6px;
}

.hero_item img {
    border-radius: 20px;
}

.hero_bottom {
    padding-bottom: 80px;
}

/* seconda sezione  */
.ecco_ps5 {
    margin-bottom: 50px;
}

.ecco_ps5 .row div:first-child h2 {
    font-size: 45px;
    margin-bottom: 30px;
    font-weight: 500;
}

.ecco_ps5 .row div:first-child p {
    font-size: 23px;
    color: #787878;
}

.box_ps5 img {
    width: 100%;
}

.ps5_item {
    max-width: 160px;
 }  

 .ps5_item img {
     width: 100%;
 }

 .ps5_item a {
     text-decoration: none;
     color:#424242;
 }

.row.row-cols-3.row-cols-md-5 .col:hover {
    border-bottom: 2px solid #4895DA;
    opacity: 0.7;
}

/* terza sezione  */

.terza_sezione_top {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: center;
    background-size: cover;
    padding: 30px 0;
}

.box_descrizione_white .simil_hero {
    padding-top: 5px;
}

.terza_sezione_bottom {
    padding-bottom: 50px;
    background-color: #1F1F1F;
}

.gioco_item {
    margin-top: 30px;
}

.terza_sezione_bottom a {
    text-decoration: none;
    color: white;
}

.gioco_item img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 10px;
}

.terza_sezione_bottom a:hover .gioco_item img {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 3px, rgb(85, 91, 255) 0px 0px 0px 6px;
}

.titolo_terza_sezione {
    padding-top: 20px;
}

.terza_sezione_bottom h6 {
    font-size: 13px;
}

/* quarta sezione  */
.quarta_sezione {
    padding: 30px 0;
}
.quarta_sezione .col-12 {
    position: relative;
}
.quarta_sezione .col-12 span {
    font-size: 15px;
    position: absolute;
}

#sottotitolo{
    color: #727272;
    font-size: 20px;
    padding: 20px 0;
}

.quarta_sezione p {
    color: #727272;
    font-size: 18px;
}

/* quinta sezione  */
.quinta_sezione {
    background-color: #BEBCBB;
    color: #353535;
}

.quinta_sezione p, .settima_sezione p {
    margin: 30px 0;
}

/* sesta sezione  */
.sesta_sezione h1 {
    margin: 60px 0 20px 0;
}
 .sesta_sezione p {
    color: #727272;
    margin: 20px 0;
    font-size: 20px;
 }

 .sesta_img {
     max-width: 200px;
 }

 .sesta_sezione img {
     width: 100%;
     margin: 30px 0;
 }

 /* settima sezione  */

 .settima_sezione {
    background-color: #161C3B;
}

/* ottava sezione  */

.ottava_sezione {
    padding: 50px 0;
}

.ottava_sezione .box_img {
    max-width: 100px;
    /* margin: 0 -100px; */
}
.ottava_sezione img {
    width: 100%;
    margin-top: 40px;
}

.ottava_sezione h4 {
    margin-bottom: 30px;
}

 

